{% extends 'base.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block body %}
<div class="music-index">
    <div class="content-info-top">
        <h1>Projet index</h1>
    </div>

    <a href="{{ path('project_new') }}"><button type="button" class="btn btn-info">Ajouter un projet</button></a>
    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
